<article>
    <h1>Decoration</h1>
    <p>
        The whole Kumla altar is elaborately decorated with different types of gilding and complicated painting technique, including
        glazing in surprisingly many areas.
    </p>
    <p>
        Gold and silver leaf as well as composite leaf, called Zwischgold has been used both in water gilding and oil gilding technique.
        Where silver has been used, it is glazed almost everywhere. Zwischgold has been used in areas less visible to the
        viewer, for example the gilded sides of the sculptures, on architectonic buttresses with pinnacles on corpus and
        both inner wings as well as on the corpus and inner wings where patterns in oil gilding have been used. In most of
        the areas, Zwischgold has been considerably oxidized, due to a very thin layer of gold on a silver leaf.
    </p>
    <p>
        Punch work patterns and other type of impression technique on gold and silver are giving an idea of the tools used to decorate
        the surface.
    </p>
    <p>
        The ground layer on top of timber and under gilding and paint layers is most probably a chalk and animal glue mixture. It
        has been applied on to all surfaces visible to the viewer with few exceptions.
    </p>
    <p>
        On sculptures there is no ground layer and no other decoration layers under the sculptures and on their backsides. There
        is also no ground layer on the tracery of the altar, where the gold leaf is used in oil gilding technique and the
        paint layer seems to be applied directly on to the wood with only an animal glue layer in between. The thickness
        of the ground layer varies between different areas.
    </p>
    <p>
        There is a large transition in the style of art throughout the Middle Ages. In the beginning part of the Middle Ages, extremely
        subtle colors were being used, and the art itself was a more low-key style. It was meant to specifically express
        and help to understand the readings, but not much to express additional ideas. The later part of the Middle Ages
        saw a more bold dramatic use of colors and also an influential type of painting. In the Kumla altar-piece vivid colors
        are used and skillful use of different shades of same color can clearly be seen. The paint layers seem to be all
        as oil based paint. There are numerous details on painted altar wings as well as details on sculptures where layer
        built—up and colored glazing has been skillfully used.
    </p>
    <p>
        The Decoration part gives a brief insight into some of the interesting details found as part of surface decoration on the
        Kumla altar.
    </p>
    <p>
        Decoration types to be more closely looked into here are:
    </p>
    <ul>
        <li>gilding and paint layers, including the gilding and paint on altar construction</li>
        <li>punch work patterns : gilded backgrounds, details in silver and haloes</li>
        <li>close up (microscope) photos of the painted and gilded surfaces</li>
        <li>tracery on the corpus and inside of the inner altar wings</li>
        <li>gilded tin flowers</li>
    </ul>
</article>