<article>
    <h1>History</h1>
    <p>Under the History you are able to find the following information related to the History of the Kumla altar piece</p>
    <ul>
        <li>Medieval workshop practice related to production of altars</li>
        <li>Medieval techniques with a brief information related to woodcarving and decorative finishing on woodlike gilding
            and paint</li>
        <li>Decoration, meaning types and examples of surface decoration, used on Kumla altar-piece</li>
        <li>More detailed information and images related to the Annunciation, the Passion of Christ and ten sculptures in the
            Kumla altar-piece</li>
    </ul>
</article>