<article>
    <h1>Sculptures</h1>

    <p><strong>
    The sculptures and parts of the altar-piece are described as they are seen by the viewer – when left

and right is mentioned, the sculpture is always looked from the front.
    </strong></p>
    <p>
        Central motif in the corpus of the altar is the Coronation of the Virgin (kuva: the Coronation of the Virgin). The Virgin
        Mary is seated on a long profiled bench in the orant position, half turned towards Christ who raises right hand in
        blessing while the left rests on an orb on his left knee.
    </p>
    <p>
        To the left of the central group, is the Holy Bishop St. Eskil, at right St. Torkel, the local patron saint of the Kumla
        church, wearing civilian clothes.
    </p>
    <p>
        In left wing, inside, starting from the left stand St. Gertrude, St. Olov and closest to the corpus St. Peter.
    </p>
    <p>
        In right wing, inside, starting from the right stand St. Birgitta as the farthest, then St. Erik and as a pendant to St Peter
        stands St. Paul.
    </p>
    <p>
        The ten polychrome sculptures of the Kumla altar-piece (kuva: Group) are all carved and decorated in the same manner and
        also share same types of damages. Therefore the description of the materials and condition will be first presented
        generally for all sculptures, including timber used for carving and sculpture´s structure, metal hooks for hanging,
        linen and parchment used for joints in wood or weaker areas, surface/coatings: gesso, bole and gilding, silvering
        with glazing, Zwischgold (composite of gold and silver leaf, beaten together) and paint.
    </p>
    <p>
        Only the differing information will be listed separately for each sculpture: measurements, missing parts, cracks in the timber,
        linen and parchment supports, paint, silvering and hooks. The sculptures also share same or similar types of paint
        layers with each other and therefore the paint layers are introduced generally.
    </p>
    <p>
        Photos of the sculptures in the Kumla altar are accompanied with a short text, related to more detailed information about
        each sculpture.
    </p>
    <h2>General description of the sculptures and materials</h2>
    <h3>Timber and structure</h3>
    <p>
        All wooden parts are made of oak. Most of the ten sculptures are carved from one piece of oak. Only some of the attributes
        and few other parts are carved as a separate piece and attached to the sculpture with wooden pegs and glue. Backs
        of the sculptures are hollowed and untreated. On the backs there are tool marks from both straight chisels and gouges
        (concave chisels) and a small axe. The width of the straight chisels vary between 1cm and 4 cm and the width of gouges
        vary between 1cm and 3,5 cm. (kuvat: 1a,1b,1c,1d)
    </p>
    <p>
        On top of each saints’ head there is the remains of a wooden peg. A hole has been first drilled to the top of each sculptures’
        head and a peg has been inserted. The peg was traditionally used during the woodcarving as an aid; the sculpture
        could be rotated in the workbench during carving, gesso application, gilding and painting. The peg helped to get
        a grip of the sculptures in order not to touch the finished areas. After the finishes were done the peg was sawn
        off leaving only a round area visible on the top of the head of the sculpture which usually doesn’t have any finishing
        layer on it.(kuva: 2)
    </p>
    <h3>Metal hooks</h3>
    <p>
        An iron hook has been attached to the timber from the back of the sculptures. A hole has been drilled first either from behind
        the head or in the hollowed back for the hook. With the help of the hook the sculptures are attached to the altar-piece.
        On the surface of the original hooks there is still some red lead paint left. It has most probably been applied on
        the metal in order to protect it from corroding.(kuva: 2a)
    </p>
    <h3>Linen and parchment</h3>
    <p>
        During the carving, on areas where carving went too deep and the wood became too thin, also on top of wood knots and joints
        where extra pieces were added, a linen cloth or parchment was glued on the wood as an additional support for weaker
        areas and joints in the wood. These kinds of supports were also added to prevent the finishing layers from flaking
        when the wood would shrink or crack while drying. The supporting parchment and linen cloth have been glued on top
        of the timber on the back side of the sculpture or to the front side before applying the gesso ground.
    </p>
    <p>
        On the Virgin Mary and Christ figures, text in German can be seen on a small area of the parchment, which indicates that
        the parchment has been recycled from old manuscripts.(kuva:3)
    </p>
    <h3>Surface/coatings</h3>
    <h4>Gesso:</h4>
    <p>
        The ground is most probably a mixture of chalk and animal glue. It has been applied on all visible surfaces of the sculpture
        except for the bottom parts of the sculptures and on the backsides. The thickness of the layer varies in between
        different areas.
    </p>
    <h4>Bole:</h4>
    <p>
        There is a red bole layer on top of the gesso ground in areas where the gilding has been applied. It has been unevenly applied
        and in most areas there seems to be only one layer of it. The bole has not been covered by other finishing layers
        on areas that cannot be seen when looking at the sculptures from the front – for instance on the left side of the
        St. Gertrud sculpture.
    </p>
    <h4>Gilding:</h4>
    <p>
        Over 50% of each sculptures’ surface has been gilded. The outside of garments are mostly gilded and some of the attributes
        and their details are gilded as well. All gilding on the sculptures is water gilding. Silvering with Glazing: Silvering
        has been used together with coloured glazing on some of the attributes of the saints. As an example, silvering and
        glazing can be found on the body of the human - headed dragon, lying under St. Olov’s feet, on the walls and imitation
        stained glass windows of the church St. Gertrud is holding and in the Virgins hair.(kuvat: 4, 5)
    </p>
    <h4>Zwischgold:</h4>
    <p>
        Zwischgold has been applied on narrow areas of the gilded garment on the both sides of the sculptures, on the areas which
        are not visible when looking at the sculptures from the front. Zwischgold is a leaf of silver covered with a very
        thin layer of gold, beaten together. It has originally had a similar visual appearance as gold leaf but has been
        a cheaper material to use in areas that can hardly be seen after the altar was finished. Edges of the now partly
        oxidized leaves are clearly visible on for instance on the sides of St. Gertrud sculpture.
    </p>
    <h4>Paint:</h4>
    <p>
        The sculptures’ heads and faces with all the details are painted. There is also paint on the sculptures’ bases, attributes
        and linings of the garments as well as on the details of the clothing. All painted areas of the sculptures have only
        been painted once except the bases of the Virgin and Christ, where green layer of paint can be seen under the light
        red paint layer. No retouching has been done previously except one area in St. Olov´s left side of the garment. On
        several borderlines of paint and gilding, the paint has been applied also a little bit on top of the gilding. This
        indicates clearly that the sculptures have been painted only after gilding.
    </p>
    <section class="col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in history7.images" class="img-thumbnail col-xs-4 col-sm-3 col-md-4">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
</article>