<article>
    <h1>St. Torkel</h1>
    
    <div class="col-xs-12 col-sm-4 pull-right">
        <table class="table table-striped">
            <thead>
                <tr>
                <th colspan="2">Measurements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Height</th>
                <td>77 cm</td>
                </tr>
                <tr>
                <th scope="row">Width</th>
                <td>35 cm</td>
                </tr>
                <tr>
                <th scope="row">Depth</th>
                <td>14 cm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <b>Separate parts on the sculpture:</b>The left side hand has been attached with one peg from behind the sculpture.
    </p>
    <p>
        <b>Missing parts:</b> The bell-clapper´s attribute from the right side hand is missing.
    </p>
    <p>
        <b>Cracks in timber:</b>There are some visible cracks on the front side of the sculpture: next to St. Torkel’s right 
        hand 2,5 cm crack and there is probably a 15,5 cm long crack that is hidden under the cracked gesso. 
        The base of the sculpture has cracked in the area under the statue, the crack is 9 cm long and on its widest 0,4 cm.
    </p>
    <p>
        <b>Linen or parchment visible:</b> No linen cloth is visible. Parchment is visible on three areas of the hood.
</p>
    
    <p>
    <b>Paint layer</b>
        <ul>
            <li>Blue, azurite: Lining of the garment and inside the hood</li>
            <li>Red, red lead: Book, lips</li>
            <li>Green: base</li>
            <li>Caput mortum: Hood, beard and tights</li>
            <li>Dark brown: Short-legged shorts</li>
            <li>Medium brown: Belt and bag on the belt</li>
            <li>Light red: Skin</li>
            <li>White: Side of the book and eyes</li>
            <li>Black: in the eyes</li>
        </ul>
    </p>
    
    <p><b>Silvering:</b> No silvering.</p>
    
    <p>
        <b>Hook on the back:</b> There is no hook, but a hole behind the head might indicate that there has previously been one.
    </p>
    
    <p>
        <b>Other comments:</b> In two areas of the front of the hood there is a hollow part, most probably created by a 
        parchment support that has become loose from the wood.
    </p>
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in history74.images" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
</article>