<article>
    <h1>St. Eskil</h1>
    
    <div class="col-xs-12 col-sm-4 pull-right">
        <table class="table table-striped">
            <thead>
                <tr>
                <th colspan="2">Measurements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Height</th>
                <td>87.5 cm</td>
                </tr>
                <tr>
                <th scope="row">Width</th>
                <td>26.3 cm</td>
                </tr>
                <tr>
                <th scope="row">Depth</th>
                <td>13 cm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <b>Separate parts on the sculpture:</b>Behind the mitre (the bishop’s hat), the top of it consists of a separate 
        piece of wood that has been attached with two pegs.
    </p>
    <p>
        <b>Missing parts:</b> The left hand is missing from the wrist onward. It has been made of a separate piece of wood, 
        since there is a peg hole left. There has probably been a crosier in the right hand.
    </p>
    <p>
        <b>Cracks in timber:</b> No cracks.
    </p>
    <p>
        <b>Linen or parchment visible:</b> No visible parchment. Linen cloth is visible on both hands, the front of the mitre, left shoulder.
</p>
    
    <p>
    <b>Paint layer</b>
        <ul>
            <li>Green: The base that St. Eskil is standing on. Also the end of the cloth that is hanging from the right side arm is green.</li>
            <li>Light red: Skin</li>
            <li>Medium brown: Hair and eyebrows and three stones in the right hand</li>
            <li>Red, red lead: Lips, lining of the gilded garment, decoration on the mitre</li>
            <li>Blue, azurite: On the right side there is a blue detail on the gilded robe</li>
            <li>Light Grey: the undergarment</li>
            <li>White: Undergarment. The main colour of the mitre and the left side square on the mitre. Also in the eyes and gloves in his hand</li>
            <li>Black: in the eyes</li>
        </ul>
    </p>
    
    <p><b>Silvering:</b> No silvering.</p>
    
    <p>
        <b>Hook on the back:</b> There is no hook, but a hole behind the head might indicate that there has previously been one.
    </p>
    
    <p>
        <b>Other comments:</b> None.
    </p>
</article>