<article>
    <h1>Passion of The Christ</h1>
    
    <p>
        In Christianity, the Passion (from Late Latin: passionem &quot;suffering, enduring&quot;) is the short final period in 
        the life of Jesus, covering his entrance visit to Jerusalem and leading to his crucifixion on Mount Calvary, 
        defining the climactic event central to Christian doctrine of Salvation History.
    </p>
    <p>
        The commemoration begins with the portent grievance of the Blessed Virgin Mary, followed by his 
        triumphal entry into Jerusalem and includes his institution of the Eucharist at Last Supper, his bleeding 
        and Agony in the Garden followed by his arrest by the Sanhedrin priests and ultimate trial of Pontius 
        Pilate. Those parts of the four Gospels that describe these events, as well as the non-canonical Gospel of 
        Peter, are known as the &quot;Passion narratives&quot;. In the liturgical calendar of the Roman Catholic Church, the 
        Passion is commemorated in Holy Week, beginning on Friday of Sorrows, the Palm Sunday and 
        culminating on his death on Good Friday.
    </p>
    
    <figure class="gallery top-padding col-xs-12 pull-left">
        <a ng-click="openLightboxModal(0)">
            <img class="img-responsive" src="{{history6.images[0].url}}" alt="{{history6.images[0].caption}}"/>
        </a>
    </figure>
    
    <p>
        Inside of outer wings and outside of inner wings of the Kumla altar each and all show two scenes from 
        the Passion of Christ, all with frames in red, gold and painted horizontal bands which originally have had 
        gilded tin flowers in the middle of all the painted roundels.
    </p>
    
    <h2>From left to right the panels depict in the upper series</h2>
     <ul>
         <li>Christ in Gethsemane</li>
         <li>The Flagellation and Crowning</li>
         <li>Christ before Pilate</li>
         <li>The Carrying of the Cross</li>
     </ul>
    
    <section class="col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in history6.images | limitTo:4:1" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+1)">
                    <div style="background-image: url('{{image.url}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h2>In the lower series from left</h2>
    <ul>
        <li>The Crucifixion</li>
        <li>The Deposition from the Cross</li>
        <li>The Entombment</li>
        <li>The Resurrection</li>
    </ul>
    
    <section class="col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in history6.images | limitTo:4:5" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+5)">
                    <div style="background-image: url('{{image.url}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>


    
</article>