<article>

    <h1>Close up microscopic photos - epäselvä materiaali, kesken</h1>

    <p>
        The painted wings of the Kumla altar presenting the 8 scenes from Passion of Christ are executed with skillful use of colours
        in multiple layers, using coloured glazes to add to the overall impression.
    </p>
    <p>
        Small painted or punched details and decorations can be found all over the painted and gilded scenes. Using a small portable
        DinoLite microscope, close up photos from various areas of the scenes from the Passion of Christ were taken to show
        examples of the painting technique and the use of materials.
    </p>
    <p>
        Areas from where the photographs are taken are marked and numbered on the full photographs of the wings.
    </p>

</article>