<article>
    <h1>Passion of The Christ</h1>
    
    <p>
        In Christianity, the Passion (from Late Latin: passionem &quot;suffering, enduring&quot;) is the short final period in 
        the life of Jesus, covering his entrance visit to Jerusalem and leading to his crucifixion on Mount Calvary, 
        defining the climactic event central to Christian doctrine of Salvation History.
    </p>
    <p>
        The commemoration begins with the portent grievance of the Blessed Virgin Mary, followed by his 
        triumphal entry into Jerusalem and includes his institution of the Eucharist at Last Supper, his bleeding 
        and Agony in the Garden followed by his arrest by the Sanhedrin priests and ultimate trial of Pontius 
        Pilate. Those parts of the four Gospels that describe these events, as well as the non-canonical Gospel of 
        Peter, are known as the &quot;Passion narratives&quot;. In the liturgical calendar of the Roman Catholic Church, the 
        Passion is commemorated in Holy Week, beginning on Friday of Sorrows, the Palm Sunday and 
        culminating on his death on Good Friday. (kuva: Kokokuva Passion of Christ)
    </p>
    <p>
        Inside of outer wings and outside of inner wings of the Kumla altar each and all show two scenes from 
        the Passion of Christ, all with frames in red, gold and painted horizontal bands which originally have had 
        gilded tin flowers in the middle of all the painted roundels.
    </p>
    
    <h2></h2>
    
</article>