<article>
    <h1>St. Erik</h1>
    
    <section class="gallery col-xs-12">
            <div class="row">
                <div ng-repeat="image in history79.images" class="img-thumbnail col-xs-6 col-sm-3 col-md-3">
                    <a ng-click="openLightboxModal($index)">
                        <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                        </div>
                    </a>
                </div>
            </div>
       </section>
    
    <div class="col-xs-12 col-sm-4 pull-right">
        <table class="table table-striped">
            <thead>
                <tr>
                <th colspan="2">Measurements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Height</th>
                <td>78 cm</td>
                </tr>
                <tr>
                <th scope="row">Width</th>
                <td>23.5 cm</td>
                </tr>
                <tr>
                <th scope="row">Depth</th>
                <td>14 cm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <b>Separate parts on the sculpture:</b> None.
    </p>
    <p>
        <b>Missing parts:</b> An attribute in the left side hand has been lost. Also five highest points of the crown have been lost. 
        A square shaped decoration has been lost from the side of the ciborium. From the base a part is missing; 
        ca 5 cm on its widest and ca. 7 cm on its deepest.
    </p>
    <p>
        <b>Cracks in timber:</b> No visible cracks in timber. There are a couple of cracks in the crown.
    </p>
    <p>
        <b>Linen or parchment visible:</b> Linen cloth is visible in the crown. No parchment is visible.
    </p>
    
    <p>
        <div class="col-xs-12 col-sm-4 pull-right">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th colspan="4">Paint layer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Blue</th>
                        <td colspan="3">Fur imitation with darker stripes, light blue</td>
                    </tr>
                    <tr>
                        <th scope="row">Green</th>
                        <td colspan="3">Base</td>
                    </tr>
                    <tr>
                        <th scope="row">Light red</th>
                        <td colspan="3">Skin</td>
                    </tr>
                    <tr>
                        <th scope="row">Red, red lead</th>
                        <td colspan="3">Socks, lips</td>
                    </tr>
                    <tr>
                        <th scope="row">Ochre</th>
                        <td colspan="3">Hair</td>
                    </tr>
                    <tr>
                        <th scope="row">White</th>
                        <td colspan="3">Eyes</td>
                    </tr>
                    <tr>
                        <th scope="row">Black</th>
                        <td colspan="3">Eyes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p>
    
    <p><b>Silvering:</b> No silvering.</p>
    
    <p>
        <b>Hook on the back:</b> There is the original hook on the back of the sculpture.
    </p>
    
    <p>
        <b>Other comments:</b> In the middle of the chest there is a hole created by the hook from the back side of the sculpture. 
        Corrosion from metal can be seen inside the hole. A mistake has happened during the decoration of the sculpture; 
        under the left side sleeve there is a gilded area followed by a brown painted area but under the right side sleeve the 
        same area has been painted with blue fur imitation.
    </p>
</article>