<article>
    <h1>St. Peter</h1>
    
    <div class="col-xs-12 col-sm-4 pull-right">
        <table class="table table-striped">
            <thead>
                <tr>
                <th colspan="2">Measurements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Height</th>
                <td>80 cm</td>
                </tr>
                <tr>
                <th scope="row">Width</th>
                <td>22 cm</td>
                </tr>
                <tr>
                <th scope="row">Depth</th>
                <td>15 cm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <b>Separate parts on the sculpture:</b> None.
    </p>
    <p>
        <b>Missing parts:</b> A key from the right hand has been lost. There is an approximately 3 cm piece missing 
        from the base of the sculpture´s right side
    </p>
    <p>
        <b>Cracks in timber:</b> No visible cracks.
    </p>
    <p>
        <b>Linen or parchment visible:</b> Linen cloth can be seen on the sides of the sculpture. No parchment is visible.
        On the back of the sculpture, a linen cloth support has been added for the thinly carved wood.
    </p>
    
    <p>
    <b>Paint layer !!!!!!!!!!!!!!!!!!!</b>
        <ul>
            <li>Light red: Skin and the bench with darker and lighter red details and shadowing. The base is almost pink.</li>
            <li>Dark brown: Hair, beard and eyebrows</li>
            <li>Red, red lead: Lips, the lining and collar of Christ´s garment and top of the crown</li>
            <li>White: in the eyes</li>
            <li>Black: in the eyes</li>
        </ul>
    </p>
    
    <p><b>Silvering:</b> No silvering.</p>
    
    <p>
        <b>Hook on the back:</b> There is an original hook on the back of the sculpture.
    </p>
    
    <p>
        <b>Other comments:</b> On the back of the sculpture, gesso has been thickly applied on top of the patch of linen cloth.
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in history78.images" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
</article>