<article>
    <h1>St. Gertrud</h1>
    
    <div class="col-xs-12 col-sm-4 pull-right">
        <table class="table table-striped">
            <thead>
                <tr>
                <th colspan="2">Measurements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Height</th>
                <td>80 cm</td>
                </tr>
                <tr>
                <th scope="row">Width</th>
                <td>26 cm</td>
                </tr>
                <tr>
                <th scope="row">Depth</th>
                <td>13 cm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <b>Separate parts on the sculpture:</b> None.
    </p>
    <p>
        <b>Missing parts:</b> The thumb of the right hand
    </p>
    <p>
        <b>Cracks in timber:</b> No visible cracks.
    </p>
    <p>
        <b>Linen or parchment visible:</b> Linen cloth is visible on the hollowed back of the sculpture as a support for the too 
        thinly carved wood. No parchment is visible.
    </p>
    
    <p>
    <b>Paint layer</b>
        <ul>
            <li>Blue: azurite: Lining of the robe, details on the church</li>
            <li>Green: Base</li>
            <li>Dark brown: Socks</li>
            <li>Light red: Skin</li>
            <li>Red, red lead: :Roof of the church, lips, cheeks, chin, edges of the sleeves</li>
            <li>Light grey: Veil</li>
            <li>White: in the eyes</li>
            <li>Black: in the eyes</li>
        </ul>
    </p>
    
    <p>
        <b>Silvering:</b> The walls of the church are silvered and on top of the silver leaf there is a glazing. The
        windows of the church have red and green glazes.
    </p>
    
    <p>
        <b>Hook on the back:</b> There is a hook on the back of the sculpture that is a newer addition, not similar to
        other original hooks.
    </p>
    
    <p>
        <b>Other comments:</b> There is hole (approximately 1 cm deep and 0, 5 cm wide) under the chin area. Caused 
        by the hook that is attached from the backside of the sculpture.
    </p>
</article>