<article>
    <h1>Christ</h1>
    
    <div class="col-xs-12 col-sm-4 pull-right">
        <table class="table table-striped">
            <thead>
                <tr>
                <th colspan="2">Measurements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Height</th>
                <td>76 cm</td>
                </tr>
                <tr>
                <th scope="row">Width</th>
                <td>43 cm</td>
                </tr>
                <tr>
                <th scope="row">Depth</th>
                <td>13.5 cm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <b>Separate parts on the sculpture:</b> Two pieces of wood of almost equal thickness have been added, one on

each side to compose a long bench that Christ is sitting on. These pieces have been attached to the main

part with wooden pegs and animal glue. In addition, there are three more, very thin pieces /slices of wood

added to the right hand side of the bench, which are attached with pegs.
    </p>
    <p>
        <b>Missing parts:</b> All six highest tops of the crown are missing.
    </p>
    <p>
        <b>Cracks in timber:</b> There is a very thin crack, which starts from the back of the crown and continues down

the right side of the face until the corner of the eye. Another crack is visible on the back and the side of

the left hand.
    </p>
    <p>
        <b>Linen or parchment visible:</b> There is a piece of parchment glued to the back of the sculpture. There are

also three pieces of parchment glued on to wood in the area of the crown. There is also parchment visible

on the left side of the knee, on the side of the left hand and under the red areas of the garment. Also on the

gilded orb in his hand. All the parchment has been recycled from a manuscript; there is writing in German

on of all of the pieces of parchment. The writing is best seen in UV light. No linen cloth is visible.
</p>
    
    <p>
    <b>Paint layer</b>
        <ul>
            <li>Light red: Skin and the bench with darker and lighter red details and shadowing. The base is almost pink.</li>
            <li>Dark brown: Hair, beard and eyebrows</li>
            <li>Red, red lead: Lips, the lining and collar of Christ´s garment and top of the crown</li>
            <li>White: in the eyes</li>
            <li>Black: in the eyes</li>
        </ul>
    </p>
    
    <p><b>Silvering:</b> No silvering.</p>
    
    <p>
        <b>Hook on the back:</b> There is no hook, but a hole behind the head might indicate that there has previously been one.
    </p>
    
    <p>
        <b>Other comments:</b> A possible mistake has happened during the manufacturing of the sculpture; on the right 
    side of the garment, below the orb, there is a gilded area, which has been painted over with red paint.
    </p>
</article>