<div class="row">
    <article class="col-xs-12">
        <h1>Gilding and paint layers</h1>

        <p>
            As part of the surface decoration, gold and silver leaf as well as a composite leaf, called Zwischgold has been used both
            in water gilding and oil gilding technique. Where silver leaf has been used it seems that it has almost everywhere
            been glazed. Despite that, silver has heavily oxidized, turning almost black and become damaged in many areas.
        </p>
        <p>
            There is gold leaf as well as Zwischgold used in major parts of all the sculptures. In the corpus and both of the insides
            of the inner wings, the background is gilded on a chalk and animal glue ground. The technique used is polished
            water gilding. There are richly punched haloes in the gilded background for each of the sculptures, each and
            every one having different patterns.
        </p>
        <p>
            Also the Passion of Christ scenes all have gilded backgrounds in polished water gilding technique. In some gilded garments,
            painted pattern is applied on top of gilding.
        </p>
        <p>
            There are clearly visible incised lines into gesso ground everywhere in the altarpiece, apart from sculptures, to mark and
            separate areas to be gilded from the areas of painted surfaces. This was a common practice of the time. As the
            gilding was always performed first, the edges of uneven gilding were easy to correct with paint afterwards. Also,
            as gold leaf was a very expensive material, it was used sparingly and only the areas that would be visible to
            the viewer were gilded.
        </p>
        <p>
            Gilding on the tracery is done using oil gilding technique on to wood with possible glue layer in between. The gilding is
            done rather superficially, leaving many small areas of wood visible in between small pieces of gold leaf.
        </p>
        <p>
            Zwischgold, being cheaper material than pure gold leaf, has been used in areas less visible to the viewer, for example the
            gilded far sides of the sculptures, on architectonic buttresses with pinnacles on corpus and both inner wings.
            It is also used on the painted frames of the Passion of the Christ scenes, on the corpus and inner wings where
            patterns in oil gilding have been used.
        </p>
        <p>
            Silver leaf has been used in many areas on the altar-piece. In the Passion of Christ scenes the armoury and helmets of solders
            has been silvered and in many cases there is a delicate impression pattern applied on top of silver before final
            glazing. Also on the roofs of the buildings as well as in some arches in semi-open spaces, silver leaf with mostly
            black paint for creating pattern has been used. These have also been glazed with golden brown or copper green.
        </p>
        <p>
            In many areas in the Passion of Christ scenes, where silver leaf has been applied on top of the evenly applied brown paint,
            the silver leaf has been heavily damaged.
        </p>
        <p>
            In sculptures there are some details and attributes where silver leaf, again with a glaze on top, has been used. For example
            in the sculpture of St. Olov silvering probably with a dark purple red lake glaze on the body of the human-headed
            dragon under St. Olov’s feet has been used. Also on the sculpture of St. Gertrud the walls of the church she
            is holding as an attribute, are silvered and on top of the silver leaf there is a yellow glazing. The windows
            of the church have red and green glazes, imitating stained glass windows.
        </p>
        <p>
            On the front surfaces of the painted frames of the Passion of Christ scenes, as well as on the painted frames of the Corpus
            and insides of inner wings both polished water gilding and oil gilding have been used, also in combination with
            the painted surfaces. Oil gilding patterns, using mostly Zwischgold or/and silver leaf are applied on top of
            painted areas.
        </p>
        
        <section class="col-xs-12 gallery">
            <div class="row">
                <div ng-repeat="image in history41.images | limitTo:23:0" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                    <a ng-click="openLightboxModal($index)">
                        <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                        </div>
                    </a>
                </div>
            </div>
        </section>
        
        <h2>Paint layers</h2>
        <p>
            In the sculptures of Kumla altar-piece, the paint has been mostly applied in one layer and the painted areas are quite distinct
            in their colour. On the Passion of Christ scenes, the painting technique is much more elaborate, being applied
            in many different layers and often include final glazing with lake pigments or copper green.
        </p>
        <p>
            Traditional pigments of the time have been used. For white, lead white has been used; for red, lead red, vermillion, iron
            oxide reds as well as red lakes have been used; for violet / purple, mostly haematite and in places Caput Mortum
            has been used, for blue azurite and perhaps a small amount of natural ultramarine is some places has been used;
            for greens copper-based greens as well as green earth have been used; for yellow, lead-tin yellow, yellow earth
            pigments like yellow ochre and natural Sienna have been used; for black carbon based black has been used. Other
            earth pigments like umber, ochre and Sienna in natural or burnt form may have been used also.
        </p>
        <p>
            On the Annunciation scene, the paint layers are even more elaborate compared to the Passion of Christ scenes. It is especially
            true in the area of the wings of the Angel Gabriel where one can find numerous shades of different colours as
            well as glazes.
        </p>
        <p>
            On the painted frames of the Passion of Christ, as well as on the painted frames of the Corpus and insides of the inner wings,
            azurite and read lead, possibly also vermillion and iron oxide red, together with red lake glazing has been used.
            To enhance the colour scheme, black and white have been used in some areas of decoration.
        </p>
        <p>
            The tracery is painted mostly red blue and green colours. Oil gilding is used there to intensify the overall impression.
        </p>
        
        <section class="col-xs-12 gallery">
            <div class="row">
                <div ng-repeat="image in history41.images | limitTo:8:23" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                    <a ng-click="openLightboxModal($index+21)">
                        <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                        </div>
                    </a>
                </div>
            </div>
        </section>

    </article>



</div>