<article>
    <h1>History of The Altar</h1>

    <h2>Description of the altar piece</h2>
    
    <figure class="col-xs-12 col-sm-6 pull-right">
        <a ng-click="openLightboxModal(0)">
            <img class="img-responsive" src="images/history/history1/720_1.jpg" alt="{{history1.images[0].caption}}"/>
        </a>
    </figure>
    
    <p>
        According to the parish accounts, the altar dates from 1439 -40, most probably made in Lübeck, Germany and was ordered for
        the medieval church of Kumla in Närke, Sweden. It was donated to the Swedish History Museum in 1868.</p>
    <p>
        It is an altar-piece with double wings and predella. The corpus and inside of inner wings hold the total of 10 sculptures.
        There are paintings on outer sides of inner wings, both sides of outer wings and on the preserved part of the predella.
    </p>
    <p>
        The height of the main altar is 178 cm, predella 25,5 cm. The width of the corpus 180 cm, all four wings each 89 cm, predella
        196 cm. The depth of the corpus is 18 cm, inner wings 18 cm and outer wings 4 cm.</p>
    <p>
        The material for the framework, altar-piece and sculptures is oak.</p>
    <p>
        The corpus is divided into three panels, the central one being of double width, separated from side panels by architectonic
        buttresses with pinnacles. There is one canopy over each side panel and two canopies over central one. At the base
        of the corpus there is a common socle with an indrawn front, decorated with graceful tracery. The same socle decoration
        recurs on inside of inner wings.
    </p>
    
    <figure class="col-xs-12 col-sm-6 col-md-4 pull-left">
        <a ng-click="openLightboxModal(1)">
            <img class="img-responsive" src="images/history/history1/720_2.jpg" alt="{{history5.images[1].caption}}"/>
        </a>
    </figure>
    
    <p>
        Central motif in the corpus is the Coronation of the Virgin. The Virgin is seated on a long profiled bench in the orant position
        half turned towards Christ who raises right hand in blessing while the left rests on a globe on left knee.</p>
    <p>
        To the left of the central group, is the Holy Bishop St. Eskil, at right St. Torkel, the local patron saint, wearing civilian
        clothes.
    </p>
    <p>
        In left wing, inside, starting from the left stands St. Gertrude, St. Olov and closest to the corpus St. Peter.</p>
    <p>
        In right wing, inside, starting from the right stands St. Birgitta as the farthest, then St. Erik and as a pendant to St
        Peter stands St. Paul.</p>
    <p>
        The whole altar, apart from the architectonic decorations on corpus and inner sides of the inner wings, is decorated with
        colours and decorated gilding on gesso ground. All the saints have richly decorated, stamped haloes.</p>
    <p>
        There are some damages and missing parts on the sculptures. The tracery is badly damaged especially on corpus.
    </p>
    
    <figure class="col-xs-12 col-sm-6 col-md-4 pull-right">
        <a ng-click="openLightboxModal(2)">
            <img class="img-responsive" src="images/history/history1/720_3.jpg" alt="{{history5.images[2].caption}}"/>
        </a>
    </figure>
    
    <p>
        When the wings are completely closed, the altar-piece shows the Annunciation; The Virgin Mary and the angel Gabriel each
        have their own wing.</p>
    <p>
        Inside of outer wings and outside of inner wings each and all show two scenes from the Passion of Christ, all with frames
        in red, gold and painted horizontal bands.</p>
    <p>
        From left to right the panels depict in the upper series Christ in Gethsemane, the Flagellation and Crowning, Christ before
        Pilate, the Carrying of the Cross. In the lower series from left the Crucifixion, the Deposition from the Cross,
        the Entombment and the Resurrection.</p>
    <p>
        Predella is only partially preserved, the front board with bust portraits of Christ and the twelve apostles exists. In bottom
        edge of the predella there are two half hinges showing that it was to be opened in front.
    </p>

    <h2>Previous Treatments</h2>
    <p>
        Not much is known of the earlier conservation history of the Altar. From the archival material and visual inspection it is
        known that
    </p>
    <ul>
        <li>In 1958 wax was used to consolidate loose paint and gilding.</li>
        <li>Some of the sculptures in the corpus have been attached with modern screws to the back of the corpus.</li>
        <li>Some of the metal hooks used to attach the figures to the altar-piece have been replaced.</li>
    </ul>
    
    <figure class="col-xs-12 col-sm-8 col-md-6 pull-left">
        <a ng-click="openLightboxModal(3)">
            <img class="img-responsive" src="images/history/history1/720_4.jpg" alt="{{history5.images[3].caption}}"/>
        </a>
    </figure>

</article>