<div class="row">
    <article class="col-xs-12">
        <h1>Project background</h1>

        <p>
            The conservation and documentation of medieval altar from Kumla, involving conservation students, was suggested by Swedish
            History Museum already in 2011. It took some years before partners as well as the model for financing the project
            was actually finalised.
        </p>
        <p>
            As there is only one conservator for working with medieval polychrome wood at the Swedish History Museum, it was clear that
            such a complex project as to document, conserve and restore the whole altar of this size, including numerous
            sculptures and painted panels would be impossible for one person.
        </p>
        <p>
            The project became even more actual when the museum had decided to completely rebuild its medieval exhibition and the space
            it is exhibited at the museum.
        </p>
        <p>
            Already from the beginning it was clear that the project should include conservation students from various Nordic countries
            with an aim to strengthen cooperation and expertise in conservation education and to include some new aspects
            for public engagement in the field of conservation education.
        </p>
        <p>
            The “open to the public” student conservation project in situ, in a museums exhibition space seemed to fulfill several criteria.
            It was thought that conservation students would get an opportunity to gain relevant practical experience, show
            and promote their future profession to the wider audience, using new media and public engagement skills and thus
            gain academic and professional growth in the field.
        </p>
        <p>
            As the conservation profession is still today somewhat mysterious to most of the people it was planned to engage museum visitors
            both on site and virtually through specifically prepared exhibition pieces, web pages, blogs and by being able
            to “go behind the scene”, talk face-to face with a conservator.
        </p>
        <p>
            The project includes a public BLOG http://kumlaaltar.tumblr.com/ which was kept by participating conservation students during
            the practical conservation period.
        </p>
        <p>
            This project was planned as a 3-year project with specific plans and tasks for each project year.
        </p>
        <p>
            The most important stage of the project was the 8 weeks practical conservation work period at the Swedish History Museum
            in April – June 2015, with 5 lecturers and 26 students from all participating institutions. Four smaller groups
            of students worked with the Kumla altar in 2 week periods each, documented the condition and materials of the
            altar and did practical conservation-restoration work in front of museum visitors. Information related to this
            period of the project is partly presented here at the project´s web page.
        </p>
        <h2>1: Project title</h2>
        <p>
            Public engagement in conservation as part of academic and professional growth in Nordic conservation education
        </p>
        <p>
            Project number NPHZ-2014- 10043
        </p>
        <p>
            Duration 2014 June -2015 June
        </p>
        <h2>2: Project title</h2>
        <p>
            Public engagement in conservation as part of academic and professional growth in Nordic conservation education - Phase 2
        </p>
        <p>
            Project number NPHZ-2015/10116
        </p>
        <p>
            Duration 2015 June -2016 December
        </p>

    </article>
</div>