<article>

    <h1>Funding</h1>

    <p>
        The project was by 50% generously funded by Nordplus Horizontal program and another 50% by four partner participants of the
        project - Helsinki Metropolia University of Applied Sciences (Finland), Coordinator of the project; University of
        Oslo (Norway); University of Gothenburg (Sweden) and The Swedish History Museum (Sweden).
    </p>

    <figure class="nordplus center-block">
        <a href="http://www.nordplusonline.org/Who-can-apply/Nordplus-horizontal" alt="Nordplus Horizontal">
            <img class="img-responsive center-block" src="images/logos/nordplus.png">
        </a>
    </figure>

</article>