<article>

    <h1>Funding</h1>

    <p>
        The project was by 50% generously funded by Nordplus Horizontal program and another 50% by four partner participants of the
        project - Helsinki Metropolia University of Applied Sciences (Finland), Coordinator of the project; University of
        Oslo (Norway); University of Gothenburg (Sweden) and The Swedish History Museum (Sweden).
    </p>
    <p>
        Tekstin jälkeen linkki sivustolle: (linkin pitää olla Nordplus-horizontalin logo) http://www.nordplusonline.org/Who-can-apply/Nordplus-horizontal
    </p>

</article>