<article>

    <h1>Aims and goals</h1>

    <p>The project has to key aims:</p>
    <ul>
        <li>To deepen Nordic cross-sector cooperation and expertise</li>
        <li>Develop good, innovative practices for public engagement in the field of conservation education.</li>
    </ul>

    <p>
        The project focused on public engagement, research, open-to-public conservation of the Medieval altar from Kumla, belonging
        to the collection of the Swedish History Museum, Stockholm and dissemination of the results of the project.
    </p>
    <p>
        In addition
    </p>
    <ul>
        <li>8 weeks of practical conservation work by conservation students in public</li>
        <li>Engagement of museum visitors both on site and virtually (web page, blog)</li>
        <li>A special Medieval model altar with samples of painted surfaces and gilded decorations accompanied by instructive texts will be designed for the museum´s exhibition for public educational purposes</li>
        <li>Publications and other types of dissemination (oral, written, seminars)</li>
        <li>Involvement of school children / pedagogical sector is planned as part of the project</li>
    </ul>

</article>