<article>

    <h1>Inner wing left, Christ in Getsemane</h1>
    
    <h3>P1: silver leaf with coloured glaze; soldier’s armor, decorated with punch marks and painted black lines</h3>
    <p>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Silver leaf partly oxidized. Possible pigments in the glaze</li>
        </ol>
        
        <ul>
            <li>Violet – caput mortuum or / and red lake ? (Mg, Al, Fe and Si detected by SEM –EDS)</li>
            <li>Blue – azurite and some darker blue?</li>
            <li>Orange – burnt green earth?</li>
            <li>Yellow – lead-tin yellow</li>
            <li>Some red and brown earth pigments</li>
        </ul>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:3:0" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P2 green area on the garment, light tone.</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Thin layer of lead white and red lead / burnt green earth?</li>
            <li>Darker yellow-green: lead white, copper green and lead-tin yellow, possibly green earth and a bit of red lead / burnt green earth?</li>
            <li>Lighter green: lead white, copper green, green earth?, lead-tin yellow and some purple blue </li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:4:3" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+3)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P3: red area on the garment, mid tone</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Lead white and red lead? </li>
            <li>Lead white, vermillion, red lead? </li>
            <li>Purple layer: lead white and some purple (red lake?)</li>
            <li>Thick glaze</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:7" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+7)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h1>Inner left wing, The Crucifixion</h1>

    <h3>P4: The Virgin´s blue garment</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Lead white, lead-tin yellow and lead red?</li>
            <li>Lead white, lead-tin yellow</li>
            <li>Lead white and haematite</li>
            <li>Thin layer of finer lead white, azurite</li>
            <li>Thicker layer of coarse azurite and a bit of lead white</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:12" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+12)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P5: greyish/violet area of the garment, dark tone</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Thick layer (or perhaps two separate layers) of lead white, azurite, haematite and some red lead</li>
            <li>Thinner lighter layer with more lead white, azurite and haematite</li>
            <li>Very thin greyish layer of finely ground various pigments – dark blue, yellow-orange, white</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:4:17" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+17)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h1>Inner right wing, the Carrying of the Cross</h1>
    
    <h3>P6: round dark coloured area in the middle of the panel, originally under gilded metal flower ornaments</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Finely ground lead white and a bit of red lead and haematite</li>
            <li>Mostly red lead, with some lead white</li>
            <li>Blackish dark layer, charcoal black?</li>
            <li>Varnish</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:21" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+21)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P7: silver leaf on the area of soldier’s helmet</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Oxidized silver leaf without bole (on animal glue?)</li>
            <li>Violet -black dark glaze</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:4:26" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+26)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P8: gold leaf (oil gilding?) on red on the area of flower ornament on the upper right corner of frame</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Small amount of lead white and red lead</li>
            <li>Oil mordant</li>
            <li>Gold leaf in oil gilding technique</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:30" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+30)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h1>Outer right wing, the Angel Gabriel</h1>
    
    <h3>P9: light yellow area of the cross</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Thin layer of lead white and a bit of lead-tin yellow with tiny particles of blue and purple</li>
            <li>Thicker layer of lead tin yellow and lead white</li>
            <li>Thick semi-transparent greenish-yellow glaze</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:35" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+35)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P10: dark grey area on Angel’s wing, details of the feathers painted with several different colours, possibly a thin glaze over the whole area of the wings</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Thin yellowish layer with violet and yellow-orange particles and lead white</li>
            <li>Lead white and azurite</li>
            <li>Violet layer with lead white, haematite, azurite and some dark blue (natural ultramarine?) particles</li>
            <li>Red lake with some azurite</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:4:40" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+40)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h1>St. Olov</h1>
    
    <h3>P11: light yellow area of the cross</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Silver leaf (oxydized partly)</li>
            <li>Dark violet glaze (manganese dioxide or haematite?)</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:44" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+44)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P12: The Angel Gabriel, green drapery, 2 samples from different areas</h3>
    <p>
        <b>Layers from the bottom of the sample 1:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Thin layer of lead white and lead red</li>
            <li>Lead white and azurite</li>
            <li>Lead white, lead tin yellow and copper green, possibly some green earth?</li>
            <li>Haematite, azurite and some lead white, possibly some red lake</li>
            <li>Lead tin yellow, lead white, copper green? and green earth?</li>
        </ol>
    </p>
        
        <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:5:49" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+49)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
        
    <p>
        <b>Layers from the bottom of the sample 2:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Thin layer of lead white and lead red</li>
            <li>Lead tin yellow, lead white and some more intense orange-yellow (orpiment?)</li>
            <li>Haematite, red lake and a bit of vermillion?</li>
            <li>Lead white copper green and green earth and a bit of lead tin yellow?, in some areas in two separate layers (more fine particles in top layer)</li>
            <li>Glaze or varnish</li>
        </ol>
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:4:54" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+54)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h3>P13: The Angel Gabriel, red from the sleeve with layered glaze</h3>
    <p>
        <b>Layers from the bottom of the sample:</b>
        <ol>
            <li>Ground layer of chalk and animal glue</li>
            <li>Reddish orange - lead white and red lead?</li>
            <li>Dark red layer: mostly red lake?</li>
            <li>Yellowish glaze</li>
        </ol>
    </p>

    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials31.images | limitTo:4:58" class="img-thumbnail col-xs-4 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index+58)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>


</article>