<article>
    <h1>FTIR</h1>
    <p>
        According to archival material, Kumla altar was previously conserved in the late 1950-s. Wax or most probably a wax-resin
        mixture was used to consolidate the loose ground, gilding and paint layers.
    </p>
    <p>
        The waxy mixture was removed as much as possible from the surface during this project and it was analyzed, using FTIR (Fourier
        Transform Infrared Spectroscopy) analysis.
    </p>
    <p>
        The absorption spectrum obtained, relates very closely to candelilla wax, a vegetable wax with a melting point around 68.5–72.5
        °C, soluble in many organic solvents.
    </p>
    <div style="width: 100%;">
        <img src="images/materials/materials2/ftir.jpg" alt="" style="width: 100%;">
    </div>
</article>