<article>

    <h1>Materials</h1>

    <p>
        As part of the documentation and conservation-restoration of the Kumla altar, some material analysis were also performed.
        It included Fourier Transform Infrared Spectroscopy (FTIR) analysis of the wax-resin mixture, used in previous conservation,
        non-destructive X-ray Fluorescence (XRF ) analysis of the paint layers and microscopy of minute samples of paint
        cross-sections to compare the information obtained by XRF analysis.
    </p>
    <p>
        The information obtained from these analysis is by no means complete but it gives some indication about pigments and painting
        technique used on painted areas as well as different types of leaf metal used to decorate the altar.
    </p>
    <p>
        More detailed information can be found under sections FTIR, Paint cross-sections and XRF.
    </p>

</article>