<article>

    <h1>Paint Cross-sections (+ rest)</h1>

    <h2>What are paint cross-sections?</h2>
    <p>
        Cross-sections are minute paint samples that are carefully collected from an artwork.  They can provide important information
        on paint stratigraphy, pigments, coatings and later additions to original.  Ethical factors should always be considered
        when choosing a sampling location and weather to take a sample at all. Paint cross-sections have proved valuable
        when questions remain regarding an artwork’s material complexity, condition, authenticity, dating etc.
    </p>

    <h2>Preparing Cross-sections</h2>
    <p>
        Paint samples are usually taken along the edges of paintings or at the areas of cracks or losses in paint and ground layers.
        Tools for sampling include small brushes, tweezers and scalpels.  Good magnification, using head loupe or a microscope
        is often required.  The microscopic paint sample is then cast in a clear polyester resin together with an identification
        label and let to harden properly.  The resin is polished smooth using fine abrasives until the paint sample surface
        is reached within the resin block.  Ideally all ground and paint layers will be exposed during this process, providing
        the scientist or conservator with a “cross-sectional” view of the artwork’s stratigraphy.
    </p>

    <h2>Visible and Ultraviolet Light Microscopy</h2>
    <p>
        Paint cross-sections are typically viewed through a microscope that is ideally equipped with an ultraviolet light source.
        Samples are usually examined and photographed using reflected visible light and ultraviolet light as both methods
        can provide complementary information. Certain organic materials like animal glues and natural resins as well as
        some pigments will auto- fluoresce when exposed to ultraviolet light.  In addition, visual layer separation is better
        in most cases.
    </p>
    <p>
        In case of Kumla altar, paint cross-sections were collected in order to gain better understanding on the use of pigments
        and layering technique, including glazes, used in painted surfaces of the altar. Samples were taken from two panels
        of the “Passion of the Christ” scene - “The Christ carrying the Cross” and “The Crist in Getsemane”, from the “Annunciation”
        scene - “The Angel Gabriel”, as well as from one sculpture - St. Olaf. The information gained from the paint cross-
        sections was compared to the results, obtained by using XRF (X-ray Fluorescence) and other analysis from the same
        areas of the painted surface.
    </p>

    <h2>Cross sections taken from the Kumla altar</h2>
    <p>
        Total of 13 cross-section samples were taken from the Kumla altar, 12 of them from the painted wings of the altar and one
        from the sculpture of St. Olov. Areas from where the sampling was done are presented in connection to each cross-section.
    </p>
    <p>
        The microscope images of the cross-sections show the paint layer build-up as well as combination of different pigments used
        in each layer. The cross-sections were also analyzed under UV light and the images are included here.
    </p>
    
    <section class="col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in materials3.images" class="img-thumbnail col-xs-4 col-sm-3 col-md-4">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>


</article>