<article>
    <h1>Materials and Tools</h1>
    
    <p>Conservation-restoration materials and tools are too numerous to mention them all. Some of the 
        materials and tools are common for all the specialty or materials groups in conservation-restoration but 
        each specialty has also their materials and tools, which are specific or most useful in solving 
        conservation-restoration issues.
    </p>
    <p>
        Conservation of the Kumla altar-piece followed the common steps which meant cleaning, consolidation, 
        varnishing and retouching different surfaces of the altar-piece.
    </p>
    
    <h2>Cleaning</h2>
    
    <p>
        For dry cleaning soft brushes and small vacuum cleaners can be used. There are also a variety of dry
        cleaning sponges available on the conservation market.
    </p>
    <p>
        For wet surface cleaning a cotton wool and a small wooden stick, for example a flexible bamboo grill 
        stick is a good tool. Cleaning agents for common surface dirt include saliva, deionized water and very 
        low concentration triammonium citrate. For discoloured surface coatings like natural resin varnishes, 
        solvents like ethanol, acetone, hydrocarbon solvents, like petroleum benzine or mixtures of these 
        solvents are commonly used.
    </p>
    <p>
        Sometimes it is not possible or safe to remove surface dirt with any of the above mentioned solvents and 
        the only possible way is to remove the surface dirt mechanically. Tools used for that can be various but 
        the most simple ones include small scalpels and various dentist tools. Good magnification in a form of 
        magnifying glasses or a microscope will aid in preventing causing damage to often delicate and sensitive 
        surfaces.
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in conservation3.images | limitTo:5:0" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h2>Consolidation</h2>
    
    <p>
        For consolidation of ground and paint layers there are numerous consolidants, both natural and 
        synthetic. Animal glues like gelatin, rabbit skin glue or sturgeon glue, obtained from the swimming 
        bladdrrs of a sturgeon are the most common ones. Very few consolidants used in conservation- 
        restoration are especially developed for conservation purposes. One of them is Lascaux® Medium for 
        Consolidation, developed by Lascaux company in collaboration with the Swedish National Board of 
        Antiquities (Riksantikvarieämbetet) especially for consolidating medieval painted wood and polychrome 
        sculptures.
    </p>
    <p>
        Both natural and synthetic consolidants are applied either by help of a small brush or sometimes small 
        syringe so that the consolidant is able to flow under to loose areas of ground and paint. In order to 
        assure the layer attachment an electronic hot spatula with adjustable temperature can be used when 
        necessary. When heat is not needed, small silicone brushes, used by contemporary artists can be used 
        to gently press down consolidated areas.
    </p>
    <p>
        Materials like silicone coated paper and transparent, uncoated or silicone coated foils like Melinex® can 
        be used in between the surface and hot spatula or as an isolation layer for small weights, used to keep 
        the consolidated area down.
    </p>
    
    <section class="top-padding col-xs-12 gallery">
        <div class="row">
            <div ng-repeat="image in conservation3.images | limitTo:3:5" class="img-thumbnail col-xs-6 col-sm-4 col-md-5ths">
                <a ng-click="openLightboxModal($index)">
                    <div style="background-image: url('{{image.thumbUrl}}'); background-size: cover; width: 100%; height: 100%;">
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <h2>Varnishing</h2>
    
    <p>
        In cases when either original or later added, discoloured surface coatings are removed from an artwork 
        during conservation treatment, new surface coating is applied before retouching to enhance and saturate 
        the painted surface.
    </p>
    <p>
        Traditionally natural resin varnishes like mastic or dammar in suitable solvent have been used. During 
        the past few decades new synthetic resins with excellent ageing properties have emerged on the market 
        as a result of thorough research. These can be used as intermediate or final coatings. Application can be 
        done either by brush or by spraying.
    </p>
    
    <h2>Filing and retouching</h2>
    
    <figure class="col-xs-12 col-sm-8 col-md-5 pull-right">
        <a ng-click="openLightboxModal(9)">
            <img class="img-responsive" src="{{ conservation3.images[9].url }}" alt="{{conservation.images[0].caption}}"/>
        </a>
    </figure>
    
    <p>
        Filling and retouching is considered as a restoration treatment and is commonly used to enhance the 
        object´s visual integrity and aesthetics. Filling missing areas of ground is generally not practiced on 
        medieval polychrome sculpture and painted surfaces at least in Scandinavia and many Norther 
        European countries. Instead a delicate retouching is practiced of the areas where paint layer is missing 
        with white ground exposed, in order to visually enhance the integrity of the artwork.
    </p>
    
    <p>
        Again, materials for retouching are numerous. Easily reversible watercolours are often used but dry 
        pigment powders in various binding mediums are very much in favor also. Again, past decades have 
        seen a fair development in retouching colours and there are several options on the market as 
        readymade sets of colours for retouching.
    </p>
</article>