<article>
    <h1>Before & After</h1>
    
    <h2>Aim of conservation of the sculptures</h2>
    
    <p>Conservation of the sculptures was executed simultaneously with the conservation of the other parts of 
        the altar-piece. The aim was to stabilize the condition of the sculptures by consolidating loose paint,
        gilding and gesso ground, by removing surface dirt as well as wax that had been used as a previous
        conservation treatment.
    </p>
    <p>
        As an aesthetical conservation - restoration treatment the effect of visible white gesso in damaged areas
        was visually diminished by retouching in order for the viewer to get a more unified image of the
        sculptures and their gilded and painted surfaces. The altar will continue to be exhibited at the Swedish
        History museum after the conservation and therefore the visual, aesthetical aspect of the whole was
        considered in the aims of conservation.
    </p>
    
    <h2>Photos before and after conservation</h2>
    
    <p>
        All the sculptures apart from St, Birgitta were conserved during the project. The sculpture of St. Brigitta
        was conserved by the museum conservator Håkan Lindberg already before the practical part of the project
        started in spring 2015.
    </p>
    <p>
        Before and after photos of the sculptures show the four sides of each sculpture - front, left side, back and
        right side. There are no photos before conservation of St. Birgitta and there is only a photo taken from the
        front of the St. Erik sculpture after conservation. There are also some detail photos of the sculptures
        before and after conservation.
    </p>
</article>